<h2 class="text-center mt-5 text-danger">Ingresa tu correo electronico</h2>

<form class="recover-account" action="">
    <div class="form-label-group mb-2">
        <label class="mb-2" for="inputEmail">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="true" autofocus="">
      </div>
      <input class="btn btn-lg btn-dark btn-block py-1 px-3 mt-2" type="button" value="Enviar">
    
</form>

<h4>Se te enviara un correo electronico con un codigo para cambiar tu contraseña.</h4>