<h3 class="mt-5 mb-3">Hola! Que vas a pedir hoy?</h3>
<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="card bg-warning">
        <h4 class="card-title">Restaurante</h4>
    </div>
    <div class="card bg-danger">
        <h4 class="card-title pl-1">Pedidos Ya Market</h4>
    </div>
    <div class="card bg-info">
        <h4 class="card-title ml-1">Mercados</h4>
    </div>
    <div class="card bg-success ">
        <h4 class="card-title ml-1">Bebidas</h4>
    </div>
    <div class="card">
        <h4 class="card-title ml-1">Salud</h4>
        </div>
    </div>
</div>
</div>