<div class="pt-4 mt-3">
<form class="form-signin">
      <div class="text-center mb-4">

        <img class="mb-2" src="https://www.svgrepo.com/show/530213/hamburger.svg" alt="" width="80" height="80">
        <h1 class="h3 mb-3 fw-bold fs-1 text-danger">AppCenar</h1>
        <p>Bienvenido a una App para Cenar cuando quieras!</p>
      </div>

      <div class="form-label-group mb-2">
        <label class="mb-2" for="inputEmail">Email o User</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="true" autofocus="">
      </div>

      <div class="form-label-group mb-2">
        <label class="mb-2" for="inputPassword">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="true">
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-danger btn-center btn-block px-3 py-1" type="submit">Sign in</button>
      <div class="text-center">
        <p>Eres nuevo en la App?</p>
        <a class="link-danger" href="/Registrer">Registrate Aqui</a><br>
        <a class="link-danger" href="">Olvidaste tu contraseña</a>

        <p class="mt-4 mb-0">Quieres Ser Empresa?</p>
        <a class="link-danger" href="/RegistrerMarket">Registrate Aqui!</a>
      </div>
    </form>
      <p class="mt-2 mb-1 text-muted text-center">© BrechiDev 2024</p>
    </div>
   