
<section>
    <div class="d-flex mt-3 pl-2">   
<h3 ><b>Mis Direcciones</b></h3>
<div class="button-direccion">
<button class="btn btn-danger aling-center py-0 px-4" disabled="disabled">+ direccion</button>
</div>
</div>
</section>

<section class="mt-5 pt-3">

    <div class="content ">
        <h5 class="mb-0">Casa</h5>

        <div class="two-button d-flex">
        <div class="pr-2 pl-0">
        <p >ubicacion</p>
        </div>
        <div>
        <button class="btn btn-danger py-0 px-3"
         disabled="disabled">Editar</button>
        <button class="btn btn-danger py-0 px-3"
         disabled="disabled">Eliminar</button>
         </div>
        </div>

    </div>

</section>

<style>
    .button-direccion{
        position: absolute;
        right: 10;    
    }
    .content{
        border-bottom: 1px solid rgba(128, 128, 128, 0.146);
    }
    .two-button{

        flex-direction: row;
        justify-content: space-between;
    }
    h3{
        position: absolute;
        left: 10;
    }
</style>