
  <h2 class=" mt-4"><b>Favoritos</b></h2>

  <p class="mb-3 mt-2">Pide donde te gusta</p>
  
  <div class="d-flex mt-5 pb-3">
    <img src="" alt="image" sizes="12px" srcset="">
    <div class="ms-3">
    <h6>Aqui ira el nombre</h6>
    <button class="btn btn-danger px-1 py-0 " disabled="disabled">Ver restaurante</button>
    </div>
  </div>

  <style>
    div{
        border-bottom: 1px solid rgba(128, 128, 128, 0.146);
    }
  </style>