
<h2 class="mt-5 mb-5">Mis pedidos</h2>

<div class="mt-2">
    <div class="card">
        <div class="card-body">
            <p class="mt-0 mb-1 fs-6">Fecha del pedido • 12:00 pm</p>
            <h5 class="card-title">Pedido 1</h5>
            <p class="card-text">Descripción del pedido 1</p>
            <div class="d-flex  border-box">
            <div class="ml-4">
            <a class="mt-1" href="#">Calificar</a>
            </div>
            <div class="mr-4 btnr">
            <a class="mt-1" href="#">Repetir</a>
            </div>
            </div>
        </div>
</div>
<div class="mt-2">
    <div class="card">
        <div class="card-body">
            <p class= "card-text mt-0 mb-1 fs-6">Fecha del pedido • 12:00 pm</p>
            <div class="row">
                <div class="col-md-3">
                    <img src="" alt="image" sizes="12px" srcset="">
            </div>
            <h5 class="card-title">Pedido 2</h5>
            <p class="card-text">Descripción del pedido 1</p>
            </div>
            <div class="d-flex border-box">
            <div class="ml-4">
            <a class="mt-1" href="#">Calificar</a>
            </div>
            <div class="mr-4 btnr">
            <a class="mt-1" href="#">Repetir</a>
            </div>
            </div>
        </div>
</div>


<style>
    .btnr{
        border-left: 1px solid rgba(128, 128, 128, 0.233);
    }
    .border-box{
        border-top: 1px solid rgba(128, 128, 128, 0.233);
        justify-content: center;
        
    }
    a{
        text-decoration: none;
        color: black;
    }
</style>