<section>
<div class="d-flex justify-content-center mt-3">
<nav class="navbar navbar-light bg-light">
  <form class=" d-flex p-2 form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Restaurante" aria-label="Search">
    <button class="btn btn-danger my-4 mx-2 my-sm-0" type="submit"><i class="fa fa-search"> </i></button>
  </form>
</nav>
</div>
</section>
<section>
    <h2>Comidas</h4>
    <div>

    </div>
    <h6>1794 restaurantes</h6>
</section>

<section class="mt-5">
  <div class="d-flex">
    <div class="row ">
        <img src="" alt="imagen" sizes="25px">
        </div>
        <div class="content-description">
        <h6 class="mb-0">Nombre del restaurante</h6>
        <span class="">Acepta Pago online</span>
        <p class="pt-2"> 5-20 min</span><span> .</span><span> Envio $25</p>
        </div>
    </div>
  </div>
</section>

<style>
    .content-description{
        margin-left: 10px;
    }
</style>

